/* CSS Resets */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, q, small, strong, sub, sup, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  border: 0;
  margin: 0;
  padding: 0;
  outline: none; }

article, aside, figure, figure img, figcaption, hgroup, footer, header, nav, section, video, object {
  display: block; }

a img {
  border: 0; }

figure {
  position: relative; }

figure img {
  width: 100%; }

/* ==================================================================================================================== */
/* ! VARIABLES
/* ==================================================================================================================== */
/* WIDTHS */
/* FLOATS & ALIGNMENT **/
/* MARGINS, PADDINGS & FONTS */
@font-face {
  font-family: 'GillSansWGL';
  src: url("../webfonts/26EC81_0_0.eot");
  src: url("../webfonts/26EC81_0_0.eot?#iefix") format("embedded-opentype"), url("../webfonts/26EC81_0_0.woff") format("woff"), url("../webfonts/26EC81_0_0.ttf") format("truetype"); }
/* FONT ICONS */
@font-face {
  font-family: "iconvault";
  src: url("../webfonts/boi.eot");
  src: url("../webfonts/boi.eot?#iefix") format("embedded-opentype"), url("../webfonts/boi.woff") format("woff"), url("../webfonts/boi.ttf") format("truetype"), url("../webfonts/boi.svg#iconvault") format("svg");
  font-weight: normal;
  font-style: normal; }
.icon-arrow-right:before,
.icon-tick:before,
.icon-help-arrow:before,
.icon-error:before,
.icon-arrow-left:before,
.icon-arrow-down:before {
  font-family: "iconvault";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  text-decoration: inherit; }

.icon-arrow-right:before {
  content: "\f100"; }

.icon-tick:before {
  content: "\f101"; }

.icon-help-arrow:before {
  content: "\f102"; }

.icon-error:before {
  content: "\f103"; }

.icon-arrow-left:before {
  content: "\f104"; }

.icon-arrow-down:before {
  content: "\f105"; }

/* COLOR */
/* ==================================================================================================================== */
/* ! FUNCTIONS
/* ==================================================================================================================== */
/* ==================================================================================================================== */
/* ! GRID
/* ==================================================================================================================== */
.container {
  padding: 0 20px; }
  .container .row {
    width: 100%;
    max-width: 960px;
    min-width: 755px;
    margin: 0 auto;
    position: relative; }
    .container .row .onecol, .container .row .twocol, .container .row .threecol, .container .row .fourcol, .container .row .fivecol, .container .row .sixcol, .container .row .sevencol, .container .row .eightcol, .container .row .ninecol, .container .row .tencol, .container .row .elevencol {
      margin: 0 3.8% 0 0;
      float: left;
      min-height: 1px; }
    .container .row .onecol {
      width: 4.85%; }
    .container .row .twocol {
      width: 13.45%; }
    .container .row .threecol {
      width: 22.05%; }
    .container .row .fourcol {
      width: 30.75%; }
    .container .row .fivecol {
      width: 39.45%; }
    .container .row .sixcol {
      width: 48%; }
    .container .row .sevencol {
      width: 56.75%; }
    .container .row .eightcol {
      width: 65.4%; }
    .container .row .ninecol {
      width: 74.05%; }
    .container .row .tencol {
      width: 82.7%; }
    .container .row .elevencol {
      width: 91.35%; }
    .container .row .twelvecol {
      width: 100%;
      float: left; }
    .container .row .last {
      margin: 0px; }
    .container .row img, .container .row object, .container .row embed {
      max-width: 100%; }
    .container .row img {
      height: auto; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* ==================================================================================================================== */
/* ! GRID MEDIA Q.
/* ==================================================================================================================== */
@media only screen and (max-width: 790px) {
  body {
    font-size: 16px;
    -webkit-text-size-adjust: none; }

  body, .container {
    width: 100%;
    min-width: 0;
    margin: 0;
    padding: 0; }
    body .row, .container .row {
      width: 100%;
      min-width: 0;
      margin: 0;
      padding: 0; }
      body .row .onecol, body .row .twocol, body .row .threecol, body .row .fourcol, body .row .fivecol, body .row .sixcol, body .row .sevencol, body .row .eightcol, body .row .ninecol, body .row .tencol, body .row .elevencol, body .row .twelvecol, .container .row .onecol, .container .row .twocol, .container .row .threecol, .container .row .fourcol, .container .row .fivecol, .container .row .sixcol, .container .row .sevencol, .container .row .eightcol, .container .row .ninecol, .container .row .tencol, .container .row .elevencol, .container .row .twelvecol {
        width: auto;
        float: none;
        margin: 0;
        padding: 0 20px; } }
@media only screen and (max-width: 573px) {
  body .row .twelvecol, .container .row .twelvecol {
    padding: 0; } }
@media only screen and (max-width: 450px) {
  body {
    font-size: 16px;
    -webkit-text-size-adjust: none; }

  body, .container {
    width: 100%;
    min-width: 0;
    margin: 0;
    padding: 0; }
    body .row, .container .row {
      width: 100%;
      min-width: 0;
      margin: 0;
      padding: 0; }
      body .row .onecol, body .row .twocol, body .row .threecol, body .row .fourcol, body .row .fivecol, body .row .sixcol, body .row .sevencol, body .row .eightcol, body .row .ninecol, body .row .tencol, body .row .elevencol, .container .row .onecol, .container .row .twocol, .container .row .threecol, .container .row .fourcol, .container .row .fivecol, .container .row .sixcol, .container .row .sevencol, .container .row .eightcol, .container .row .ninecol, .container .row .tencol, .container .row .elevencol {
        width: auto;
        float: none;
        margin: 0;
        padding: 0 20px; }
      body .row .twelvecol, .container .row .twelvecol {
        padding: 0; } }
/* ==================================================================================================================== */
/* ! BASIC STYLES
/* ==================================================================================================================== */
body {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  background: #e3f0f8 url("../images/bk.jpg") no-repeat top center; }

h1, h2, h3, h4, h5 {
  font-family: "Arial", sans-serif; }
  h1.topHeading, h2.topHeading, h3.topHeading, h4.topHeading, h5.topHeading {
    color: white;
    padding: 1.3em 0; }
    @media only screen and (max-width: 573px) {
      h1.topHeading, h2.topHeading, h3.topHeading, h4.topHeading, h5.topHeading {
        margin-left: 7.5%; } }
  h1.innerHeading, h2.innerHeading, h3.innerHeading, h4.innerHeading, h5.innerHeading {
    text-align: center;
    padding: 1em 0;
    color: #053c59;
    font-size: 1.2em;
    font-weight: bold; }
  h1.labelStyle, h2.labelStyle, h3.labelStyle, h4.labelStyle, h5.labelStyle {
    width: 50%;
    text-align: right;
    float: left;
    margin: 1em 0;
    padding-right: 1em; }

.logo {
  height: 100%; }

a {
  text-decoration: none;
  color: #053c59; }

.clear {
  clear: both; }

header {
  display: block;
  float: left;
  min-height: 75px;
  width: 100%;
  background: #ffffff;
  /* Old browsers */
  background: -moz-linear-gradient(top, white 0%, #f1f1f1 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #f1f1f1));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, white 0%, #f1f1f1 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, white 0%, #f1f1f1 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, white 0%, #f1f1f1 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, white 0%, #f1f1f1 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f1f1f1',GradientType=0 );
  /* IE6-9 */ }
  header .innerHeader a.logo {
    text-align: left; }
    header .innerHeader a.logo img {
      margin: 1.17em 0; }
      @media only screen and (max-width: 573px) {
        header .innerHeader a.logo img {
          display: block;
          margin: 1.17em auto; } }
  header .innerHeader .backBtn {
    float: right;
    margin: 1.75em 0 0;
    position: relative; }
    @media only screen and (max-width: 573px) {
      header .innerHeader .backBtn {
        display: block;
        float: none;
        margin: 0 auto 1em;
        text-align: center; } }
    header .innerHeader .backBtn a {
      background: url("../images/show-help.png") no-repeat right bottom;
      color: #343435;
      font-size: 1em;
      padding: 0 1em 0 0; }
      header .innerHeader .backBtn a:hover {
        text-decoration: underline; }

.main {
  background: white;
  margin: 0 0 3em;
  padding: 1em 0; }
  .main.shadow {
    -webkit-box-shadow: 0px 0px 4px 0px #b5c2c9;
    box-shadow: 0px 0px 4px 0px #b5c2c9;
    border-radius: 4px;
    -webkit-border-radius: 4px; }
  .main section {
    border: 0.1em solid #f3f3f3;
    -webkit-box-shadow: 0px 0px 4px 0px #e7e7e7;
    box-shadow: 0px 0px 4px 0px #e7e7e7;
    clear: both;
    margin: 2em auto;
    min-height: 85px;
    padding: 1.25em;
    position: relative;
    width: 85%;
    border-radius: 4px;
    -webkit-border-radius: 4px; }
    @media only screen and (max-width: 890px) {
      .main section {
        min-height: 105px; } }
    @media only screen and (max-width: 604px) {
      .main section {
        min-height: 115px; } }
    @media only screen and (max-width: 362px) {
      .main section {
        min-height: 135px; } }
    .main section h2 {
      color: #00a4bf;
      font-size: 1.429em;
      margin: 0 0 0.3em 0; }
    .main section h3 {
      color: #00a4bf;
      font-size: 1.429em;
      margin: 1em auto;
      text-align: center;
      width: 20%; }
      @media only screen and (max-width: 583px) {
        .main section h3 {
          width: 50%; } }
    .main section a.swap {
      padding: 0 0.75em 0 0;
      position: absolute;
      right: 1.5em;
      top: 2em; }
      @media only screen and (max-width: 890px) {
        .main section a.swap {
          top: 2.75em; } }
      @media only screen and (max-width: 604px) {
        .main section a.swap {
          top: 3.25em; } }
      @media only screen and (max-width: 362px) {
        .main section a.swap {
          right: 0.5em; } }
    .main section a span {
      height: 30px;
      width: 30px; }
      .main section a span.show {
        display: block; }
      .main section a span.hide {
        display: none; }
    .main section p {
      color: #333333;
      float: left;
      font-size: 1em; }
      @media only screen and (max-width: 890px) {
        .main section p {
          width: 80%; } }
      @media only screen and (max-width: 790px) {
        .main section p {
          width: 70%; } }
      @media only screen and (max-width: 481px) {
        .main section p {
          width: 75%; } }
    .main section .slidingDiv {
      border-top: 0.1em solid #CCCCCC;
      display: none;
      margin: 2.75em 0 0;
      padding: 2em 0 0;
      position: relative;
      width: 100%; }
      @media only screen and (max-width: 790px) {
        .main section .slidingDiv {
          margin: 3.75em 0 0; } }
      @media only screen and (max-width: 401px) {
        .main section .slidingDiv {
          margin: 4.75em 0 0; } }
      .main section .slidingDiv ul {
        list-style: none; }
        .main section .slidingDiv ul li .nestedList {
          background: url("../images/pdf.png") no-repeat left top;
          list-style: none;
          padding: 0.5em 0 1em 2em; }
          .main section .slidingDiv ul li .nestedList li {
            color: #333333;
            padding: 0 0 0.5em; }
            @media only screen and (max-width: 583px) {
              .main section .slidingDiv ul li .nestedList li {
                width: 90%; } }
            .main section .slidingDiv ul li .nestedList li a {
              color: #053c59;
              text-decoration: underline; }
      .main section .slidingDiv p {
        float: none; }
        @media only screen and (max-width: 583px) {
          .main section .slidingDiv p {
            width: 90%; } }
        .main section .slidingDiv p.phone {
          font-size: 5.714em;
          font-weight: bold; }
          @media only screen and (max-width: 481px) {
            .main section .slidingDiv p.phone {
              font-size: 3.75em; } }

footer {
  background: #053c59;
  display: block;
  float: left;
  width: 100%; }
  footer a.logoWhite img {
    display: block;
    margin: 1.17em auto; }

.active {
  display: block !important; }
